@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Ubuntu', Courier, monospace;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: whitesmoke;
    }
}

.blinker {
    font-weight: bold;
    font-size: 24px;
    color: whitesmoke;
    animation: blink 1s step-end infinite;
}

p {
    font-family: 'Ubuntu', Courier, monospace;
    color: whitesmoke;
}